// Переменные
$bg-cl: #fff;
$light-cl1: #F8FBFA;
$light-cl2: #E2F0EF;
$gray-cl: #1FA181;
$dark-cl: #08664F;
$but-dk-cl: #0DBC91;
$but-gr-cl: #00D29F;
$stheight: 43px;
$mainwidth: 1140px;
$mobwidth: 375px;
$mobmargin: 5vw;